[submodule "src/vendor/memdmp"]
	path = vendor/memdmp
	url = https://bitbucket.org/codepoet/memdmp
[submodule "src/vendor/crc-32c"]
	path = vendor/crc32c
	url = https://bitbucket.org/codepoet/crc-32c
